<!-- START layout main.html -->
<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li ui-sref-active="active"><a href="#">Reports</a></li>
			<li ui-sref-active="active"><a href="#">Analytics</a></li>
			<li ui-sref-active="active"><a href="#">Export</a></li>
		</ul>
		<ul class="nav nav-sidebar">
			<li ui-sref-active="active"><a href="">Nav item</a></li>
			<li ui-sref-active="active"><a href="">One more nav</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">Dashboard</h1>
		<div class="row placeholders" ui-view="placeholders">
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/sky" class="img-responsive"
					 alt="Generic placeholder thumbnail">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/vine" class="img-responsive"
					 alt="Generic placeholder thumbnail">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/sky" class="img-responsive"
					 alt="Generic placeholder thumbnail">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/vine" class="img-responsive"
					 alt="Generic placeholder thumbnail">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
		</div>
		<h2 class="sub-header">Section title</h2>
		<div class="row" ui-view="content"></div>
	</div>
</div>
<!-- END layout main.html -->